<nav class="pcoded-navbar" pcoded-header-position="relative">
    <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
    <div class="pcoded-inner-navbar main-menu">
        <div class="">
            <div class="main-menu-header">
                <img class="img-40" src="/assets/images/user.png" alt="User-Profile-Image">
                <div class="user-details">
                    <span>Adrian Roldan</span>
                    <span id="more-details">Administrador<i class="ti-angle-down"></i></span>
                </div>
            </div>

            <div class="main-menu-content">
                <ul>
                    <li class="more-details">
                        <a href="#!"><i class="ti-user"></i>Perfil</a>
                        <a href="#!"><i class="ti-settings"></i>Configuración</a>
                        <a href="/login"><i class="ti-layout-sidebar-left"></i>Salir</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="pcoded-navigatio-lavel" data-i18n="nav.category.navigation" menu-title-theme="theme5">Menú</div>
        <ul class="pcoded-item pcoded-left-item">
            <li class="">
                <a href="/dashboard">
                    <span class="pcoded-micon"><i class="ti-home"></i></span>
                    <span class="pcoded-mtext" data-i18n="nav.dash.main">Dashboard</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
        </ul>
        <div class="pcoded-navigatio-lavel" data-i18n="nav.category.ui-element" menu-title-theme="theme5">Real Time</div>
        <ul class="pcoded-item pcoded-left-item">
            <li class=" ">
                <a href="/city">
                    <span class="pcoded-micon"><i class="ti-world"></i></span>
                    <span class="pcoded-mtext" data-i18n="nav.animations.main">City</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
            <li class=" ">
                <a href="/testbed">
                    <span class="pcoded-micon"><i class="ti-map-alt"></i></span>
                    <span class="pcoded-mtext" data-i18n="nav.sticky-notes.main">TestBed</span>
                    <span class="pcoded-badge label label-danger">21</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>

        </ul>
    </div>
</nav>